<h1>This is feed where users relevent posts will be visible and he can create a post too!!</h1>

<form action="/posts/create" method="POST">
    <textarea name="content" id="post-content" cols="30" rows="3" placeholder="Type here....."></textarea>
    <input type="submit" value="post">
</form>