<h1>Sign up</h1>

<form action="/users/create-user" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="text" name="name" placeholder="name" required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="password" name="con-password" placeholder="re-type password" required>
    <input type="submit" value="Sign In">
</form>